/*LOGIN*/
#btnlgn {
    border: 1px solid #843ca2;
    background-color: #d9b9f6;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #5c367f;
    font-family: 'bebas neue';
    font-size: 20px;
}

.h1lgn {
    font-family:  'Alfa Slab One', cursive;
    color: #d9b9f6;
    font-size: 70px;
    margin: 35px 0px;
}

#containerlgn {
    margin-top: 100px;
    background-color: #5c367f;
    padding: 20px 10px 0px 10px;
    width: 300px;
}

.navbar-header{
    margin-top: 15px;
}

LABEL.label{
    color: #e9d1fd;
    font-family: sans-serif;
    font-size: 20px;
}

.contlgn {
    background-color: #e9d1fd;
    height: 100%;
    width: 100%;
}

.btniniciolgn {
    background-color: #d9b9f6;
    color: #5c367f;
    font-family: 'bebas neue';
    margin-top: 2px;
    margin-right: 10px;
    width: 60px;
}

A.linklgn {
    color: #5c367f;
}

A.linklgn:hover {
    color: #280f41;
    text-decoration: none;
}

.navhead {
    background-color: #5c367f;
}

.navbar {
    background-color: #5c367f;
}

.registrarse {
    color: #e9d1fd;
    font-family: 'bebas neue';
    font-size: 20px;
}

.divregistrarse {
    padding-bottom: 30px;
}

.brand {
    font-family:  'Alfa Slab One', cursive;
    color: #d9b9f6;
    font-size: 30px;
}


.registrarse:hover{
    color: #e9d1fd;
    text-decoration: none;
}

.brand:hover{
    color: #e9d1fd;
    text-decoration: none;
}

#incorrecto{
    color: #e9d1fd;
    font-family: "Baskerville Old Face";
    padding-bottom: 10px;
    font-size: 17px;
}

/*REGISTRO*/

.h1reg {
    font-family:  'Alfa Slab One', cursive;
    color: #d9b9f6;
    font-size: 50px;
    margin: 35px 0px;
}

/*INDEX*/
P.error{
    color: #5c367f;
    font-family: 'bebas neue';
    font-size: 20px;
    margin-left: 130px;
}

#textlogout{
    font-family: 'bebas neue';
    font-size: 25px;
    color: #e9d1fd;
    margin-top: 5px;
}

.glyphicon-user{
    margin-right: 5px;
}

.usernav{
    color: #e9d1fd;
}

#user {
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: #d9b9f6;
}

.posts{
    margin-top: 50px;
    background-color: #d9b9f6;
    width: 50%;
}

.ingmsj {
    margin-top: 100px;
    background-color: #d9b9f6;
    width: 50%;
}

.h1ind {
    font-family:  'Alfa Slab One', cursive;
    color: #5c367f;
    font-size: 70px;
    margin: 35px 0px;
}

.publicar{
    font-family: "bebas neue";
    color: #280f41;
    font-size: 40px;
}

.post{
    background-color: #f1e0fd;
    width: 50%;
    border-top: #e2c3ff solid 1px;
    border-bottom: #e2c3ff solid 1px;
    padding-top: 20px;
    padding-bottom: 30px;
}
 .mensaje{
     font-family: "Times New Roman";
     font-size: 22px;
     margin-left: 55px;
     padding-bottom: 20px;
     color: #280f41;
 }

 .mensaje:hover{
     text-decoration: none;
     color: #5c367f;
 }

 #divmens{
     padding-bottom: 10px;
 }

 .tit{
     margin-bottom: 20px;
 }

 .btnmsje{
     border: 1px solid #843ca2;
     background-color: #5c367f;
     margin-top: 10px;
     margin-bottom: 30px;
     color: #d9b9f6;
     font-family: 'bebas neue';
     font-size: 30px;
 }

#fondo{
     background-image: url("../images/2061.jpg");
    background-attachment: fixed;
    background-size: cover;
 }

#brand{
    font-family:  'Alfa Slab One', cursive;
    color: #d9b9f6;
    font-size: 30px;
}

/*MENSAJES*/
#titulo{
    font-family: "Times New Roman";
    font-size: 35px;
}

.com{
    background-color: #d9b9f6;
}

.h2mens{
    font-family:  'Alfa Slab One', cursive;
    font-size: 40px;
    color: #280f41;
}

.votos{
    color: black;
}

.votos:hover{
    color: rebeccapurple;
}

.botones{
    width: 50%;
    background-color: #280f41;
}

#busqueda{
    margin-top: 8px;
    margin-left: 360px;
}

#btnbusqueda{
    margin-top: 8px;
    background-color: #d9b9f6;
    color: #5c367f;
}
